#        _ _                   __ _
#   __ _(_) |_ ___ ___  _ __  / _(_) __ _
#  / _` | | __/ __/ _ \| '_ \| |_| |/ _` |
# | (_| | | || (_| (_) | | | |  _| | (_| |
#  \__, |_|\__\___\___/|_| |_|_| |_|\__, |
#  |___/                            |___/

[user]
  name = {{ .name }}
  email = {{ .email }}

[core]
  editor = code --wait --new-window
  excludesFile = ~/.config/git/ignore
  hooksPath = ~/.config/git/hooks

[init]
  defaultBranch = main
  templatedir = ~/.config/git/template

[commit]
  # gpgSign = true
  template = ~/.config/git/message

[color]
  ui = always

[status]
  showUntrackedFiles = all

[transfer]
  # fsckObjects = true

[branch]
	sort = -committerdate

[column]
	branch = auto

[color "status"]
  changed = yellow

[diff]
  tool = default-difftool

[difftool]
	prompt = false

[difftool "default-difftool"]
  cmd = code --wait --new-window --diff $LOCAL $REMOTE
  prompt = false

[merge]
  tool = default-mergetool

[mergetool "default-mergetool"]
  cmd = code --wait --new-window $MERGED

[push]
  default = current

[pull]
  rebase = true

[merge "ours"]
  driver = true

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[gpg]
	program = gpg2

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  line-numbers = true
  side-by-side = true

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[maintenance]
	repo = /Users/robblakey/src/retail

[rerere]
	enabled = true
	autoUpdate = true

[alias]
  ec = config --global -e
  ex = "!${EDITOR:-vi} .git/info/exclude"

  r = reset
  f = fetch
  cl = clone
  st = status
  cp = cherry-pick
  ls = ls-files
  ref = reflog
  stashes = stash list
  up = pull --rebase --autostash
  bb = blame -w -C -C -C
  safe-push = push --force-with-lease
  sp = push --force-with-lease

  br = branch
  brr = branch -r
  bra = branch -a
  bd = branch -d
  bdd = branch -D

  d = diff
  dc = diff --cached
  ds = diff --stat
  dp = diff --patience
  dk = diff --check
  dck = diff --cached --check
  dt = difftool

  ci = commit -m
  cx = commit --no-verify -m
  cam = commit --amend --no-edit

  co = checkout
  cob = checkout -b
  sw = switch
  swc = switch --create

  unstage = reset
  uncommit = reset --soft HEAD^

  rmf = rm -f
  rmrf = rm -r -f

  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = "!git log --graph -n 20 --pretty=\"%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset\" | nl -v1 | bat --style=grid"
  ll = log --graph --pretty="'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset'"
  ld = log --graph -n 20 --numstat --pretty="'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset'"

  # list aliases with colored output and syntax highlighting
  la = "!git config -l | grep alias | cut -c 7- | bat --language=gitconfig --style=numbers,grid"

  # fzf - Interactive git log browser (see git/scripts/git-fzf)
  fzf = "!~/.dotfiles/git/scripts/git-fzf"

  # stage - Interactive git add using gum (see git/scripts/git-stage)
  stage = "!~/.dotfiles/git/scripts/git-stage"

  smart-commit = "!~/.dotfiles/git/scripts/commit.sh"

	cleanup-branches = !git branch --format=\"%(refname:short)\" | grep -v \"$(git branch --show-current)\" | fzf --multi --preview \"git log --oneline --graph --date=short\n  --pretty=format:%C(auto)%cd_%h%d_%s {} | head -50\" | xargs -r git branch -D

[safe]
	directory = *
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
# [credential]
#   helper = osxkeychain
[github]
	user = andimrob
