[submodule "vim/pack/andimrob/awesome-vim-colorschemes"]
	path = vim/pack/andimrob/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "vim/pack/andimrob/fzf.vim"]
	path = vim/pack/andimrob/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/andimrob/emmet-vim"]
	path = vim/pack/andimrob/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/andimrob/fzf"]
	path = vim/pack/andimrob/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/andimrob/coc.nvim"]
	path = vim/pack/andimrob/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
