[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/packs/andimrob/start/ctrlp"]
	path = vim/packs/andimrob/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
