#        _ _   _
#   __ _(_) |_(_) __ _ _ __   ___  _ __ ___
#  / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
# | (_| | | |_| | (_| | | | | (_) | | |  __/
#  \__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#  |___/         |___/

.gitsecrets
gitsecrets

.gitconfig
.gitconfig_secrets

.secrets
secrets
.secrets.sh
secrets.sh

.claude/*
