#                             _
#   _____  ___ __   ___  _ __| |_ ___
#  / _ \ \/ / '_ \ / _ \| '__| __/ __|
# |  __/>  <| |_) | (_) | |  | |_\__ \
#  \___/_/\_\ .__/ \___/|_|   \__|___/
#           |_|

# Path --------------------------------------------------------------------
# uv tools (Python)
export PATH="$HOME/.local/bin:$PATH"

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

export SSH_KEY_PATH="$HOME/.ssh/id_rsa"

# Locale ------------------------------------------------------------------
# Prefer US English
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"

# History -----------------------------------------------------------------
# http://jorge.fbarr.net/2011/03/24/making-your-bash-history-more-efficient/
# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
# ignore duplicates and commands starting with space
export HISTCONTROL=ignoreboth
# Make some commands not show up in history
export HISTIGNORE="h:ls:ls *:ll:ll *:"

# Colorize LS -------------------------------------------------------------
# http://geoff.greer.fm/lscolors/
export CLICOLOR=1
# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then # GNU `ls`
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	export LSCOLORS='ExFxCxDxBxegedabagacad'
fi

export GPG_TTY=$(tty)

# Fixes for Rails bugs on ARM Macs https://github.com/rails/rails/issues/38560
export DISABLE_SPRING=true
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

{{- if .work }}

export GITHUB_BMT_PAT={{ onepasswordRead "op://Developer/Github PAT - BMT Bootstrap/password" "my.1password.com" | quote }}
{{- end }}
export GITHUB_TOKEN={{ onepasswordRead "op://Developer/GitHub Personal Access Token/token" "my.1password.com" | quote }}

{{ if eq .chezmoi.os "darwin" -}}
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else if eq .chezmoi.os "linux" -}}
export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
{{- end }}

# Added by Antigravity
export PATH="$HOME/.antigravity/antigravity/bin:$PATH"

# [GO] Private sources
export GOPRIVATE="github.com/andimrob/*"

{{- if not .work }}
export ANTHROPIC_API_KEY={{ onepasswordRead "op://Developer/Anthropic Test Key/credential" "my.1password.com" | quote }}
{{- end }}

export PRECOMMIT="true"
