#   __                  _   _
#  / _|_   _ _ __   ___| |_(_) ___  _ __  ___
# | |_| | | | '_ \ / __| __| |/ _ \| '_ \/ __|
# |  _| |_| | | | | (__| |_| | (_) | | | \__ \
# |_|  \__,_|_| |_|\___|\__|_|\___/|_| |_|___/

# fd - cd to child directory
fd() {
	local dir
	dir=$(find ${1:-.} -path '*/\.*' -prune \
		-o -type d -print 2>/dev/null | fzf +m) &&
		cd "$dir"
}

# fdr - cd to parent directory
fdr() {
	local declare dirs=()
	get_parent_dirs() {
		if [[ -d "${1}" ]]; then dirs+=("$1"); else return; fi
		if [[ "${1}" == '/' ]]; then
			for _dir in "${dirs[@]}"; do echo $_dir; done
		else
			get_parent_dirs $(dirname "$1")
		fi
	}
	local DIR=$(get_parent_dirs $(realpath "${1:-$PWD}") | fzf-tmux --tac)
	cd "$DIR"
}

# fh - search history
fh() {
	print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

# fco - checkout git branch
fco() {
	local branch
	branch=$(git for-each-ref --color=always --sort=-committerdate \
		--format='%(color:yellow)%(refname:short)%(color:reset) %(color:magenta)%(committerdate:relative)%(color:reset) %(subject)' \
		refs/heads/ | \
		fzf --ansi +m --height=50% --reverse) &&
		git checkout $(echo "$branch" | awk '{print $1}')
}

# wt - git worktree helper
#   wt                    fzf select and cd
#   wt rm                 fzf select and remove
#   wt new NAME [BRANCH]  create new branch in .worktrees/ and cd
#   wt *                  passthrough to git worktree
__wt_preview='git -C {1} log --oneline -10 | awk "NR==1 {print \"H \" \$0; next} {print NR-1 \" \" \$0}"'

__wt_fzf() {
	local blue yellow reset
	blue=$(tput setaf 4)
	yellow=$(tput setaf 3)
	reset=$(tput sgr0)

	git worktree list | awk -v blue="$blue" -v yellow="$yellow" -v reset="$reset" '{
		wt_path = $1
		n = split(wt_path, parts, "/")
		dirname = parts[n]
		branch = $3
		gsub(/[\[\]]/, "", branch)
		printf "%s %s%s%s %s%s%s\n", wt_path, blue, dirname, reset, yellow, branch, reset
	}' | fzf --ansi \
		--height 50% \
		--reverse \
		--with-nth 2.. \
		--header "${1:-}" \
		--preview "$__wt_preview" \
		--preview-window right:50% |
		awk '{print $1}'
}

wt() {
	if [[ $# -eq 0 ]]; then
		local dir
		dir=$(__wt_fzf)
		[[ -n "$dir" ]] && cd "$dir"
	elif [[ "$1" == "rm" && $# -eq 1 ]]; then
		local dir
		dir=$(__wt_fzf)
		[[ -n "$dir" ]] && git worktree remove "$dir"
	elif [[ "$1" == "new" && $# -ge 2 ]]; then
		shift
		local root name branch wt_path
		root=$(git rev-parse --show-toplevel) || return 1
		mkdir -p "$root/.worktrees"
		name="$1"
		branch="${2:-$1}"
		wt_path="$root/.worktrees/$name"
		git worktree add -b "$branch" "$wt_path" && cd "$wt_path"
	else
		git worktree "$@"
	fi
}
{{- if .work }}

# Coach console shortcuts
@stage() {
	cd ~/src/retail/retail && coach console retail stage
}

@production() {
	cd ~/src/retail/retail && coach console retail production
}
{{- end }}
