#   __                  _   _
#  / _|_   _ _ __   ___| |_(_) ___  _ __  ___
# | |_| | | | '_ \ / __| __| |/ _ \| '_ \/ __|
# |  _| |_| | | | | (__| |_| | (_) | | | \__ \
# |_|  \__,_|_| |_|\___|\__|_|\___/|_| |_|___/

# fco - checkout git branch
fco() {
	local branch
	branch=$(git for-each-ref --color=always --sort=-committerdate \
		--format='%(color:yellow)%(refname:short)%(color:reset) %(color:magenta)%(committerdate:relative)%(color:reset) %(subject)' \
		refs/heads/ | \
		fzf --ansi +m --height=50% --reverse) &&
		git checkout $(echo "$branch" | awk '{print $1}')
}

cleanup() {
	local count
	count=$(find . -type f \( -name '.DS_Store' -o -name '._*' \) -delete -print | wc -l | tr -d ' ')
	echo "Removed $count files"
}
{{- if .work }}

# Coach console shortcuts
@stage() {
	cd ~/src/retail/retail && coach console retail stage
}

@production() {
	cd ~/src/retail/retail && coach console retail production
}
{{- end }}
