#  ____  _          _ _      _    _ _
# / ___|| |__   ___| | |    / \  | (_) __ _ ___  ___  ___
# \___ \| '_ \ / _ \ | |   / _ \ | | |/ _` / __|/ _ \/ __|
#  ___) | | | |  __/ | |  / ___ \| | | (_| \__ \  __/\__ \
# |____/|_| |_|\___|_|_| /_/   \_\_|_|\__,_|___/\___||___/

# History shortcut
alias h='history'

# Go back one directory
alias b='cd ..'

# Clear screen shortcut
alias c='clear'

# Reload bash profile
alias reload='clear; source ~/.bash_profile'

# List load paths
alias path='echo $PATH | tr ":" "\n"'

# ls command implementations
# -F includes a slash for directories.
alias ls='ls -AF'
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'

# Git
alias g='git'

# Tree sane defaults
alias tree='tree -Ca --noreport'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# hide/show hidden files in Finder
alias hidefiles='defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder'
alias showfiles='defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder'

# Ruby bundler shortcut
alias be='bundle exec'

# Rails shortcuts
alias rc='rails c'
alias rs='rails s'
alias rd='rails db'

# Editor shortcut
alias edit='subl'

# Tmux helpers
alias attach='tmux attach-session'
alias detach='tmux detach'

# Update macOS and Homebrew. Also clean up Homebrew.
alias update='sudo softwareupdate -aiR'
alias upbrew='brew update; brew upgrade; brew cleanup'

# Finder
alias f='open .'
alias fkill="killall Finder"

# Networking
alias myip="curl ipinfo.io/ip"
alias copyip="curl ipinfo.io/ip | pbcopy"

# List any open internet sockets on port 3000. Useful if a rogue server is running
# http://www.akadia.com/services/lsof_intro.html
alias rogue='lsof -i TCP:3000'
